@tailwind base;
@tailwind components;
@tailwind utilities;


//IMPORT 
@import "./Pages/Gallery/Gallery.scss";
@import "./Pages/Services/Services.scss";
@import "./Components/Grid/Grid.scss";
@import "./Components/Banner/Banner.scss";
@import "./Pages/About/About.scss";
@import "./Pages/Home/Home.scss";

body{
  background: #1d1c1c;
  color: whitesmoke;
  font-family: monospace;
}